body {
    margin: 0;
    font-family: sans-serif;
    text-align: left;
    background-color: var(--socializr-light-blue);
    color: var(--socializr-blue-tint);
  }                  

:root {
    --socializr-navy: #054a91;
    --socializr-light-blue: #3e7cb1;
    --socializr-babe-blue: #81a4cd;
    --socializr-blue-tint: #dbe4ee;
}  

* {
    font-family: sans-serif;
}                  

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}                


main {
    min-height: 60vh;
    flex-grow: 3;
    width: 90%;
    background-color:var(--socializr-blue-tint);
    border-left: .15rem solid var(--socializr-navy);
    border-right: .15rem solid var(--socializr-navy);
  }
  
  nav, aside{
    background-color: var(--socializr-light-blue);
    flex-grow: 1;
    width: 10%;
    padding: 1rem;
   
  }


  header {
    background-color: var(--socializr-navy);
    flex-grow: 0.1;
    border-bottom: .15rem solid var(--socializr-navy);
  }                             

  footer{
    background-color: var(--socializr-navy);
    flex-grow: 0.1;
    border-top: .15rem solid var(--socializr-navy);
    padding:1rem;
  }     
  @media (min-width: 800px) {
    .container {
      flex-direction: row;
    }

  }                  

  @media (min-width: 800px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
    }
    main {
      max-width: 60%;
    }
    header, footer {
      width: 100%;
    }
  }  
  
  @media (max-width: 800px) {
    main{
      border-top: .15rem solid var(--socializr-navy);
      border-bottom: .15rem solid var(--socializr-navy);
    }
    
  }